
/* Webkit animation keyframes */
@-webkit-keyframes animate-stripes {
  from {
    background-position: 0 0;
  }
  
  to {
   background-position: 44px 0;
  }
}

.ui-progress-bar1 {
  position: relative;
  height: 18px;
  padding-right: 2px;
  background-color: #e0e0e0;
  margin-top: -10px;
  border-radius: 14px;
}
.ui-progress1 {
  position: relative;
  display: block;
  overflow: hidden;
  height: 18px;
  background-color: #f16523;
  border-radius: 14px;
}
.ui-progress1 span.ui-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 0;
  line-height: 18px;
  padding-right: 30px;
  white-space: nowrap;
  
}

.ui-progress-bar1.color {
  height: 18px;
  border-radius: 14px;
  margin-top: -5px;
}
.ui-progress1.color {
  height: 18px;
  border-radius: 14px;
  background-color: #e54c4c;
}
.ui-progress1 span.ui-label {
  line-height: 18px;
}
